body
{
background:#F1C40F;
}

.box
{
width:500px;
padding:40px;
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:white;
text-align:center;
border-radius:20px;
}

.box h1
{
color:#58D68D;
font-weight:500;

}

.box input[type="text"], .box input[type="password"]
{
border:0;
background:#BFC9CA;
outline:none;
display:block;
margin:20px auto;
text-align:center;
padding:14px 10px;
width:280px;
border-radius:20px;
transition:0.25s;
cursor:pointer;

}

.box input[type="text"]:focus, .box input[type="password"]:focus
{
width:320px;
}

.box input[type="submit"]
{
border:0;
background:#58D68D;
display:block;
margin:20px auto;
text-align:center;
padding:14px 10px;
width:280px;
border-radius:20px;
transition:0.25s;
cursor:pointer;
color:white;
outline:none;

}

p
{
font-size:12px;
color:#7F8C8D  ;
}

a.login
{
font-size:12px;
color:#58D68D;

}

a
{
color:white;
}







